# <center><a href='https://notebook.basthon.fr/sql/?from=https://raw.githubusercontent.com/mp2i-fsm/mp2i-2021/main/10_sql/pokemon/pokemon.ipynb&module=https://raw.githubusercontent.com/mp2i-fsm/mp2i-2021/main/10_sql/pokemon/pokemon.sql'>Exemple : Pokémon <img src=https://framagit.org/uploads/-/system/project/avatar/55763/basthon_shadow.png width=100></a></center>
[**Diagramme de la base de donnée**](https://dbdiagram.io/d/62853fe17f945876b6459548)

Les données ont été obtenues sur [https://github.com/bthouverez/Pokemon-BDD](https://github.com/bthouverez/Pokemon-BDD)

Voici une commande pour afficher le schéma de chaque table :

In [ ]:
.schema

Les clés primaires sont indiquées avec `PRIMARY KEY`.  
Dans la table `evolue_en`, `FOREIGN KEY(pokemon_evol_id) REFERENCES pokemons(id)` indique que `pokemon_evol_id` est une clé étrangère de `evolue_en` et qu'elle fait référence à la clé primaire `id` de la table `pokemons`.

## Opérations ensemblistes

### Union : UNION

Pour obtenir une table contenant les pokémons et les dresseurs :

In [ ]:
SELECT * FROM pokemons UNION SELECT * FROM dresseurs

### Intersection : INTERSECT

Il n'y a aucun pokémon qui est aussi un dresseur :

In [ ]:
SELECT * FROM pokemons INTERSECT SELECT * FROM dresseurs

### Différence : EXCEPT

Comme aucun pokémon n'est un dresseur, prendre la différence renvoie la même table que `pokemons` :

In [ ]:
SELECT * FROM pokemons EXCEPT SELECT * FROM dresseurs

## Produit cartésien

Un produit cartésien de deux tables R1 et R2 donne toutes les façons de combiner un enregistrement de R1 et un enregistrement de R2 :

In [ ]:
SELECT * FROM types, dresseurs

**Remarque** : La requête ci-dessus n'a aucun intérêt, c'est juste un exemple de produit cartésien...

## Ambigüité

Si la même colonne est présente dans plusieurs tables, il faut lever l'ambigüité en préfixant par le nom de la table :

In [ ]:
SELECT nom FROM pokemons, dresseurs -- nom est un attribut des 2 tables

In [ ]:
SELECT pokemons.nom FROM pokemons, dresseurs -- ok

## Jointure simple

**Exercice** : Écrire une requête SQL pour afficher le nom de chaque pokémon avec son niveau d'évolution.

## Renommage

Il est possible de renommer un attribut avec `AS` :

In [ ]:
SELECT libelle as nom, pp as point_de_pouvoir
FROM attaques

Si on renomme une colonne, il faut ensuite y faire référence avec le nouveau nom :

In [ ]:
SELECT libelle as nom, pp as point_de_pouvoir
FROM attaques
WHERE point_de_pouvoir > 35

On peut aussi renommer une table :

In [ ]:
SELECT d.niveau FROM detient_pokemons AS d

**Exercice** : Écrire une requête SQL pour afficher le nom de chaque attaque avec son type.

## Jointures multiples

Si on a besoin de $3$ tables (ou plus), on peut enchaîner plusieurs `JOIN` :
```sql
FROM ... 
JOIN ... ON ... = ... 
JOIN ... ON ... = ...
```

**Exercice** : Afficher chaque dresseur avec chacun de ses pokémons.

## Auto-jointure

Parfois, il est nécessaire d'utiliser plusieurs fois la même table, donc de joindre une table avec elle-même.

**Exercice** : Afficher chaque pokémon avec son évolution et son niveau d'évolution.

## LEFT JOIN

**Exercice** : Écrire une requête SQL pour afficher chaque pokémon avec son évolution. S'il n'a pas d'évolution, on affichera `null`.